body{
    background-color: lightskyblue;
}

.container{
    width: 100px;
    height: 100px; 
    padding: 100px;
    border: 2px solid green;
    background-color: #47499e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 520px;
    margin-bottom: 50px;
    margin-top: 125px;
    gap: 10px;
    text-decoration-color: blue;
    border-radius: 5px;
} 

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input{
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
}

button{
    align-items: center;
    border-radius: 7px;
    background-color: lightgreen;
    padding: 10px;
}